<div class="flex justify-between w-full">
  <div class="flex items-center">
    <button class="md:hidden text-slate-500 hover:text-slate-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500 mr-4">
      <span class="material-icons">menu</span>
    </button>
    <h1 class="text-xl font-semibold text-slate-800 hidden md:block">Bem-vindo ao OpenCalc</h1>
  </div>
  <div class="flex items-center">
    <!-- User profile or other header actions can go here -->
    <a href="https://github.com/josec/open-calc" target="_blank" class="text-slate-400 hover:text-slate-500 transition-colors">
      <span class="material-icons">code</span>
    </a>
  </div>
</div>
